div.form-des3.col-md-6.col-sm-12
  h4 Form Buttons
  hr
  form.row
    +form-button(form_button.data)
  hr
  form.row
    div.form-group.col-md-12
      div.input-group
        div.input-group-btn
          button.btn.btn-success.dropdown-toggle(type="button" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            span Action
            span.caret
          ul.dropdown-menu
            li
              a(href="#") Action
            li
              a(href="#") Another Action
        input.form-control(type="text" class="" aria-label="...")