block config 
    - var name = 'ha'
    - var age = 31
    - var pageTitle = "index.psd"

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content='width=device-width,initial-scale=1')
    title #{pageTitle}
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/app.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js", defer)
    script(src="js/app.js", defer)
body
    block nav 
    block banner
    block block1
    block block2 
    block block3
    block footer
