section.sec2
  hr
  nav.navbar.navbar-default
    div.collapse.navbar-collapse
     ul.nav.navbar-nav.navbar-left
      +menu(menu.menusec2)
  div.products
    .col-md-6.pr-left
      +thumb(thumb.data2)
      +thumb(thumb.data)
    .col-md-6.pr-right
      +thumb(thumb.data4)
      +thumb(thumb.data3)
