div.form-content.col-md-10.col-sm-12
  h2 Form Elements
  div.col-md-1.col-sm-1
  include form-content/form-des1.pug
  include form-content/form-des2.pug
  include form-content/form-des3.pug
  include form-content/form-des4.pug
  include form-content/form-login.pug