$color-border-login: #cdcdcd;
$bg-login-form: #fff;
$bg-sidebar: #2a3f54;
$sidebar-text-color: #ecf0f1;
$sidebar-hover: #334556;
$border-color: #1abb9c;
$border-content: #efe8e8;
$bg-content: #f7f7f7;
$bg-gradient1: #2d9bd0;
$bg-gradient2: #2dc1d0;
$text-form-content: #4d7e8a;
$border-color-tags: #ccc;

$color-gradient1: #d02164;
$color-gradient2: #0e5c90;

$color-hover: rgba(0, 0, 31, .1);