.list-cart li {
  @include li();

  a {
    color: $color-text-cart;
  }

  a:hover {
    background: unset;
    color: $color-text-header;
  }

  a:focus {
    background: unset;
    color: $color-text-header;
  }

}

.list-cart ul {
  float: right;
  margin-right: 70px;
}

// section1-home

.sec1 {
  .navbar-default {
    @include menu();

    .navbar-brand {
      font-size: 24px;
    }
  }

  .dropdown-menu {
    border: unset;
    border-radius: unset;
    min-width: 460px;
    padding-top: 20px;

    a {
      color: $color-text-drop;
      font-family: mainfontre;
    }

    a:hover {
      background-color: transparent;
    }

    a:focus {
      background-color: transparent;
    }

    p {
      font-size: 12px;
      margin-left: 13px;
      padding-bottom: 20px;
    }

    .sale-bg {
      background-color: $color-text-sec1;
      margin: 60px 15px 25px;
      padding: 50px;

      p {
        color: $color-text-header;
        font-family: mainfontme;
        font-size: 36px;
        margin-bottom: 5px;
        padding-bottom: 0;
      }
    }
  }  
}

.sec2 .navbar-default {
  @include menu();

  a {
    font-family: mainfontb;
  }

}

.sec2 .navbar {
  margin-bottom: 0;
}

