.sec1{
  @include section();
  background-image: url('../images/home/slide1.jpg');
  font-family: mainfontb;
  height: 900px;
  position: relative;
}

.sec2 {
  @include section();
}

.sec3 {
	@include section();
}