include modules/head/head
include modules/dropdown/dropdown
include modules/menu/menu
include modules/button-res/button-res
include modules/thumb/thumb

doctype html
html
  +head(head.home)
  body
    include includes/home/header.pug
    include includes/home/section1.pug
    include includes/home/section2.pug
    include includes/home/section3.pug
