@font-face {
  font-family: mainfontthin;
  src: url('../fonts/montserrat/Montserrat-Thin.otf');
}

@font-face {
  font-family: mainfontre;
  src: url('../fonts/montserrat/Montserrat-Regular.otf');
}

@font-face {
  font-family: mainfontb;
  src: url('../fonts/montserrat/Montserrat-Bold.otf');
}

@font-face {
  font-family: mainfontme;
  src: url('../fonts/montserrat/Montserrat-Medium.otf');
}