@mixin gradient($color1, $color2) {
  background: $color1; 
  background: -webkit-linear-gradient(left top, $color1, $color2);
  background: -o-linear-gradient(bottom right, $color1, $color2);
  background: -moz-linear-gradient(bottom right, $color1, $color2);
  background: linear-gradient(to bottom right, $color1, $color2);
}
