@mixin li() {
  display: inline-block;
}

@mixin section() {
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 40px;
}

@mixin menu() {
  background-color: transparent;
  border-color: transparent;

  li a {
    color: $color-text-sec1;
    padding-bottom: 0;
  }

  li a:hover {
    color: $bg-cart;
  }

  .arrow {
    margin-left: 19px;
  }

  li a:focus {
    color: $bg-cart;
  }

}

@mixin boxshadow() {
  -webkit-box-shadow: -2px -1px 49px -7px $box-shadow-color;
  -moz-box-shadow: -2px -1px 49px -7px $box-shadow-color;
  box-shadow: -2px -1px 49px -7px $box-shadow-color;
}

@mixin producthover($product, $hover, $fromnum, $tonum) {
  @for $i from $fromnum through $tonum {
    #{$hover}-#{$i} {
      display: none;
    }
    @if $i == 2 or $i == 3 or $i == 6 {
      #{$product}-#{$i} {
        position: relative;

        a {
          padding-left: 0;
          padding-right: 0;
        }

        a:hover {
          @include boxshadow();
          //position: absolute;
          z-index: 100;
        }
      }
    }

    #{$product}-#{$i} {
      position: relative;

      a {
        padding-left: 0;
        padding-right: 0;
      }

      a:hover {
        @include boxshadow();
        //position: absolute;
      }

      // a:hover + div {
      //   opacity: 1;
      // }
    }

    // #{$product}-#{$i}:hover #{$hover}-#{$i} {
    //   display: block;
    // }
  }
}
