$bg-nav1: #333;
$bg-cart: #00c8c8;
$fontfacethin: mainfontthin;
$fontfacere: mainfontre;
$fontfaceb: mainfontb;
$fontfaceme: mainfontme;
$color-text-header: #fff;
$color-text-sec1: #000;
$color-text-drop: #727272;
$color-text-price: #9a9a9a;
$box-shadow-color: rgba(0, 0, 0, .6);
$color-text-cart: #696969;